body{
  background:#89b1b1;
}

section.awSlider .carousel{
  display:table;
  z-index:2;
  -moz-box-shadow: 0 0 4px #444;
	-webkit-box-shadow: 0 0 4px #444;
	box-shadow: 0 0 15px rgba(1,1,1,.5);
}

section.awSlider{
  margin:30px auto;
  padding:30px;
  position:relative;
  display:table;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.awSlider:hover > img{
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  transform: scale(2.2);
  opacity:1;
}

section.awSlider img{
   pointer-events: none;
}

section.awSlider > img{
  position:absolute;
  top:30px;
  z-index:1;
  transition:all .3s;
  filter: blur(1.8vw);
  -webkit-filter: blur(2vw);
  -moz-filter: blur(2vw); 
  -o-filter: blur(2vw); 
  -ms-filter: blur(2vw);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity:.5;
}

{
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 100%;	
}

.img-banner{
	display: none;
}

.img-info{
	width: 100%;
}

.img-info h2{
	padding: 30px 30px 20px;
	font-family: arial;
	font-size: 50px;
	color: #111;
	line-height: 44px;
}
.img-info p{
	padding: 0px 30px 20px;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 24px;
}

.img-cen{
	width: 100%;	
}

.img-mito-urbano{
	width: 60%;	
}

@media only screen and (min-width: 768px) {
	.img-banner{
	display: block;
	width: 100%;
	padding-bottom: 30px;
}

.wrapper{
	width: 600px;	
	margin: 0 auto;
}

.img-info h2{
	padding: 20px 0px 0px;
}
.img-info p{
	padding: 20px 0px 0px;
}

.img-cen{
	padding-top: 30px;	
}
}

@media only screen and (min-width: 1000px) {
	.wrapper{
	width: 1000px;	
	margin: 0 auto;
}

.img-info{
	width: 50%;
	float: rigth;
}

.img-info h2{
	padding: 20px 0px 0px 30px;
}
.img-info p{
	padding: 20px 0px 0px 30px;
}

.img-cen{
	padding-top: 0px;	
	width: 50%;
	float: left;
}
}
